:root{
    --vermelho: #e50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*elementos base*/

body{
    background: var(--preta);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}


header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 10px;
    color: var(--vermelho);
    font-family: Arial, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color:rgba(255, 255, 255, 0.692);
}


/*Filme principal*/

.filme-principal{
    font-size:  16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/capa-the-boys.jpg');

    height:400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS';
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: seashell;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor:pointer;
    transition: .4s ease all;
}

.botao:hover{
    background-color: seashell;
    color: black;
}

.botao i{
    margin-right: 5px;
}

.container{
    margin-left: 50px;
}

.filme-principal .container{
    width: 50%;
}


.box-filme{
    height: 100%;
    width:  100%;
    display: block;
}